*{
  margin: 0;
  padding: 0;box-sizing: border-box;
}
body{
  background-color: hsl(216, 12%, 8%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.attribution { font-size: 11px; text-align: center;color: white; }
.attribution a { color: hsl(228, 45%, 44%); }